* {margin:0;padding:0;box-sizing:border-box;font-family:Arial;}
body {background:#000;color:#fff;}

header {
  display:flex;justify-content:space-between;align-items:center;
  padding:15px 20px;background:#111;
}
.logo {color:#FFD700;font-size:24px;font-weight:bold;}
.call-btn {
  background:#FFD700;color:#000;border:none;
  padding:10px 15px;font-weight:bold;border-radius:6px;
}

.hero {
  text-align:center;padding:70px 20px;
}
.hero h1 {color:#FFD700;font-size:36px;}
.address {color:#ccc;margin-top:10px;}
.main-btn {
  margin-top:25px;padding:15px 30px;
  background:#FFD700;color:#000;
  border:none;border-radius:8px;font-weight:bold;
}

section {padding:50px 20px;}
h2 {text-align:center;color:#FFD700;margin-bottom:30px;}

.why-grid {
  display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}
.why-grid div {
  border:1px solid #FFD700;padding:20px;border-radius:8px;
  background:#111;
}

.services {background:#111;}
.service-box {
  border:1px solid #FFD700;
  padding:20px;border-radius:8px;margin-bottom:15px;
}

.booking form {
  max-width:400px;margin:0 auto;display:flex;flex-direction:column;gap:15px;
}
.booking input, .booking select {
  padding:12px;border-radius:6px;border:none;
}
.booking button {
  background:#FFD700;color:#000;padding:14px;
  border:none;font-weight:bold;border-radius:6px;
}

.map iframe {
  width:100%;height:350px;border:none;border-radius:10px;
}

footer {
  text-align:center;padding:20px;background:#111;color:#aaa;
}

/* MODAL */
.call-modal {
  display:none;position:fixed;inset:0;
  background:rgba(0,0,0,0.8);
  justify-content:center;align-items:center;
}
.call-box {
  background:#FFD700;color:#000;
  padding:30px;border-radius:10px;text-align:center;
}
.call-box a {
  display:block;font-size:32px;font-weight:bold;
  margin:20px 0;color:#000;text-decoration:none;
}
.call-box button {
  padding:10px 20px;border:none;background:#000;color:#FFD700;
}
.services-check {
  display: grid;
  gap: 10px;
}

.services-check label {
  background: #111;
  border: 1px solid #FFD700;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
